@media  (max-width:500px){
.about .big{
display: none;
  }
  .resumeword .big{
display: none;
  }
  .servicesword .big{
    display: none;
   
  }
  .skillsword .big{
  display: none;
   
  }
  .projectsword .big{
 display: none;
  }
  .contactword .big{
    display: none;
  }
 
}
@media  (max-width:992px){
 
  .navbar-nav .nav-link:before {
    content: "";
    background-color: var(--yellow-color);  
    width: 30%;
    height: 2px;   
    transform-origin: 50%;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: .4s;
    transition-timing-function: ease-out;
    position: absolute;
    bottom: 0;
    left: 35%;  
  }
  
}
@media  (max-width:1112px){
 
  .navbar-nav .nav-link {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
  }
}